<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <title>Mood Quiz | Home Page</title>
        <!--Link CSS to HTML-->
        <link rel= "stylesheet" type= "text/css" href= "/static/flask_style.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        
    </head>
    <body id= "home-page">
        <div id= "home-container" class= "container grey lighten-4">
            <div class= "title">
                <h1>What's Your <span class= "mood-text">Mood?</span></h1>
                <!--add bottom border-->
            </div>
            
            <div class= "quiz-info">
                <p>Take our mood quiz to find out what your mood is!</p>
            </div>
            
            <div class= "start-quiz green darken-2">
                <p><a href= "/question/1">Start Quiz</a></p>
            </div>
        </div>
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        

    </body>
</html>